<div class="container">
    <i><h1>About us</h1></i>
    <h2><p>Why choose us?</p></h2>
    <ul>
        <li>If you want to book directly through a supplier,
             and not through a broker – choose <i><b>Triad Rental Services</b></i> </li>
        <li>This will give you better flexibility in terms of vehicle choices</li>
        <li>Vehicle make and model will be confirmed, and not “similar” to those you selected</li>
        <li>You can book <b>“commission free”</b></li>
        
    </ul>
    <p>For any queries, Feel Free to contact us By clicking the link below.</p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved. Copyright &copy 2022</small>
</div>