<div class="container">
    <h1>About us</h1>
    <h2><p>Why choose us?</p></h2>
    <ul>
        <li>If you want to book directly through a supplier,
             and not through a broker – choose <i><b>Triad Rental Services</b></i> </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p>For any queries, Feel Free to contact us By clicking the link below.</p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved. Copyright &copy 2022</small>
</div>