<div class="container">
    <h1>Contact us</h1>
    <form action="/contact" method="POST">
  
  <div class="form-group">
    <label  for="message">Message</label>
    <textarea name="message" id="message" class="form-control"></textarea>
    
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>